# fly.toml file generated for proxypoolss on 2021-02-15T13:21:25+08:00

app = "example-proxypool"

[build]
  builtin = "go"

kill_signal = "SIGINT"
kill_timeout = 5

[[services]]
  internal_port = 12580
  protocol = "tcp"

  [services.concurrency]
    hard_limit = 25
    soft_limit = 20

  [[services.ports]]
    handlers = ["http"]
    port = "80"

  [[services.ports]]
    handlers = ["tls", "http"]
    port = "443"

  [[services.tcp_checks]]
    grace_period = "1s"
    interval = "10s"
    port = "8080"
    restart_limit = 5
    timeout = "2s"
[env]
  CONFIG_FILE = "./config/config.yaml"
  DOMAIN = "example-proxypool.fly.dev"
