name: docker

on:
  push:
    tags-ignore:
      - v*-*-*
  pull_request:

jobs:
  build:
    name: Build
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        if: startsWith(github.ref, 'refs/tags/')
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        if: startsWith(github.ref, 'refs/tags/')
        uses: docker/setup-buildx-action@v1
      - name: Check out code into the Go module directory
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions/checkout@v2
      - name: Login to GitHub Container Registry
        if: startsWith(github.ref, 'refs/tags/')
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: Sansui233
          password: ${{ secrets.CR_PAT }}
      - name: Build and push Docker images
        if: startsWith(github.ref, 'refs/tags/')
        uses: docker/build-push-action@v2
        with:
          push: true
          platforms: linux/amd64
          context: .
          tags: ghcr.io/sansui233/proxypool:latest
